{{ 'component-feature-call-to-action.css' | asset_url | stylesheet_tag }}

<section class="feature-call-to-action-container">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'image_picker' %}
            <div class="icon-wrapper" {{block.shopify_attributes}}>
                <img 
                    class="feature-call-to-action-icon" 
                    src={{ block.settings.icon | img_url: '110x110' }} 
                    alt={{  blocking.settings.icon.alt }}
                    />
            </div>

            {% when 'title-text' %}
            <div class="title-text-wrapper" {{block.shopify_attributes}}>
                <h3>{{block.settings.title-text}}</h3>
            </div>

        {% endcase %}
    {% endfor %}

    <div class="feature-call-to-action-img-wrapper">
        <img class="feature-call-to-action-img" src={{ section.settings.feature-image | img_url: '980x438'}} alt={{ section.settings.feature-image.alt }}/>
    </div>
    <form class="feature-call-to-action-btn-wrapper" action={{ section.settings.linkurl }}>
        <button class="feature-call-to-action-btn" type="submit">{{ section.settings.btn-text }}</button>
    </form>
</section>

{% schema %}

{
	"name": "Feature Call To Action",
	"tag": "section",
	"class": "feature-call-to-action",
	"settings": [{
			"type": "image_picker",
			"id": "feature-image",
			"label": "Feature Image"
		},
		{
			"type": "url",
			"id": "linkurl",
			"label": "Call to Action Button URL"
		},
        {
            "type": "text",
            "id": "btn-text",
            "label": "Call to Action Button Text"
        }
	],
	"blocks": [{
			"name": "Icon",
			"type": "image_picker",
			"settings": [{
				"type": "image_picker",
				"id": "icon",
				"label": "Icon"
			}]
		},
		{
			"name": "Title",
			"type": "title-text",
			"settings": [{
				"type": "text",
				"id": "title-text",
				"label": "title"
			}]
		}
	],
	"presets": [{
		"name": "Feature Call To Action",
		"category": "Call To Action"
	}],
	"locales": {
		"en": {
			"title": "Feature Call to Action"
		}
	}
}

{% endschema %}