{{ 'component-feature-call-to-action.css' | asset_url | stylesheet_tag }}

<section class="feature-call-to-action-container">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'image_picker' %}
            <article class="image_picker" {{block.shopify_attributes}}>
                <img 
                    class="feature-call-to-action-icon" 
                    src={{ product.icon | img_url: '150x150' }} 
                    />
            </article>

            {% when 'title-text' %}
            <article class="title-text" {{block.shopify_attributes}}>
                <h3>{{block.settings.titleText}}</h3>
            </article>

            {% when 'subtitle-text' %}
            <article class="subtitle-text" {{block.shopify_attributes}}>
                <p>{{block.settings.subtitleText}}</p>
            </article>

        {% endcase %}
    {% endfor %}




    <!-- <img class="feature-call-to-action-icon" src="{{ product.featured_image | img_url: '150x150' }} "alt="Bill Murray placeholder img"/> -->
    <h4 class="feature-call-to-action-text">Lorem Ipsum</h4>
    <img class="feature-call-to-action-img" src="{{ product.featured_image | img_url: '980x438' }}" alt="Image of featured product."/>
    <button class="feature-call-to-action-btn">Call to Action</button>
</section>

{% schema %}

{
	"name": "Feature Call To Action",
	"tag": "section",
	"class": "feature-call-to-action",
	"settings": [
        {
            "type": "image_picker",
            "id": "featureImage",
            "label": "Feature Image"
        },
        {
            "type": "url",
            "id": "linkurl",
            "label": "Call to Action Button"
        }
	],
	"blocks": [{
			"name": "Icon",
			"type": "image_picker",
			"settings": [{
				"type": "image_picker",
				"id": "icon",
				"label": "Icon"
			}]
		},
		{
			"name": "Title",
			"type": "title-text",
			"settings": [{
				"type": "text",
				"id": "titleText",
				"label": "title"
			}]
		},
        {
			"name": "Subtitle",
			"type": "subtitle-text",
			"settings": [{
				"type": "text",
				"id": "subtitleText",
				"label": "subtitle"
			}]
		}
	],
	"presets": [{
		"name": "Feature Call To Action",
		"category": "Call To Action"
	}],
	"locales": {
		"en": {
			"title": "Feature Call to Action"
		}
	}
}

{% endschema %}