{
    Image,
    Title,
    Subtitle,
    CTA Button,
    Indicator buttons.
}






<section class="carousel-container">
    <img 
        class="carousel-img"
        src={{ section.settings.IMG-ID-HERE | img_url: 'IMG SIZE HERE'}}
        alt={{ section.settings.IMG-ID-HERE.alt}}
    />
    <h3>{{ section.settings.TITLE-ID-HERE }}</h3>
    <h5>{{  section.settings.SUBTITLE-ID-HERE }}</h5>
    <form class="carousel-btn-wrapper" action={{ section.settings.LINK-ID-HERE }}>
        <button class="carousel-btn" type="submit">{{ section.settings.BTN-ID-HERE }}</button>
    </form>

</section>

{% schema %}
{
	"name": "Product Carousel",
	"tag": "section",
	"settings": [{
		"type": "text",
		"id": "product-carousel",
		"label": "Product Carousel"

	}],
	"max_blocks": 3,
	"blocks": [{
		"name": "Carousel Block",
		"type": "carousel",
		"settings": [{
				"type": "image_picker",
				"id": "carousel_image",
				"label": "Product Image"
			},
			{
				"type": "text",
				"id": "default_title",
				"label": "Title"
			},
            {
				"type": "text",
				"id": "default_subtitle",
				"label": "Subtitle"
			},
            {
                "type": "url",
                "id": "linkurl",
                "label": "Call to Action Button URL"
            },
            {
                "type": "text",
                "id": "btn-text",
                "label": "Call to Action Button Text"
            }
		]
	}],
	"presets": [{
		"name": "Product Carousel",
		"category": "Product Carousel"
	}],
	"locales": {
		"en": {
			"title": "Product Carousel"
		}
	}

}

{% endschema %}