<section class="carousel-container">
    {% for block in section.blocks %}
        <article {{block.shopify.attributes}}>
            <img 
            class="carousel-img"
            src={{ block.settings.carousel_image | img_url: 'IMG SIZE HERE'}}
            alt={{ block.settings.carousel-image.alt}}
            />
            <h3>{{ block.settings.carousel_title }}</h3>
            <h5>{{  block.settings.carousel_subtitle }}</h5>
            <form class="carousel-btn-wrapper" action={{ block.settings.linkurl }}>
                <button class="carousel-btn" type="submit">{{ block.settings.btntext }}</button>
            </form>
        </article>
    {% endfor %}
</section>

{% schema %}
{
	"name": "Product Carousel",
	"tag": "section",
	"settings": [{
		"type": "text",
		"id": "product-carousel",
		"label": "Product Carousel"

	}],
	"max_blocks": 3,
	"blocks": [{
		"name": "Carousel Block",
		"type": "carousel",
		"settings": [{
				"type": "image_picker",
				"id": "carousel_image",
				"label": "Product Image"
			},
			{
				"type": "text",
				"id": "carousel_title",
				"label": "Title"
			},
            {
				"type": "text",
				"id": "carousel_subtitle",
				"label": "Subtitle"
			},
            {
                "type": "url",
                "id": "linkurl",
                "label": "Call to Action Button URL"
            },
            {
                "type": "text",
                "id": "btn-text",
                "label": "Call to Action Button Text"
            }
		]
	}],
	"presets": [{
		"name": "Product Carousel",
		"category": "Product Carousel"
	}],
	"locales": {
		"en": {
			"title": "Product Carousel"
		}
	}

}

{% endschema %}